<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6 mb-3">
            <div class="reg-text">
                <h3>Customer Registration</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
          
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="reg-block">
               
                <app-login></app-login>

            </div>
        </div>
       
    </div>
</div>

<router-outlet></router-outlet>