.carousel-caption
{
    position: static;
}
.carousel-inner
{
    background: #394c62;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.slider_section {
    background-color: #586b8b !important;
}