<!-- footer section -->
<div class="info_section" id="footer">
    <div class="container">
      
          <div class="row info_main-row">
            <div class="col-md-12">

             


              <!-- footer section -->
              <section class="row footer_section justify-content-center">
               
              <div>  <a class="navbar-brand footer_logo " href="https://contest-central.com/home/">
                  <img src="/images/logo.png" alt="" />
                </a></div>
               <div> 
                <p class="copyright_text">
                  &copy; 2025 All Rights Reserved | <a href="https://www.npnits.com/">NPN IT Services Pvt Ltd</a>
                </p>
                <div class="mt-2 footer_links">
                  <a class="text-cloud-gray" href="/privacy-policy"> Privacy Policy</a>
                  <a class="text-cloud-gray" href="/terms">Terms of Service</a>
                   <a class="text-cloud-gray" href="/cookies">Cookie Policy</a>
                   <a class="text-cloud-gray contact-us-link" href="mailto:support@contest-central.com">Contact Us</a>
                  </div>
                </div>
              </section>
              <!-- footer section -->

           
        </div>
      </div>
    </div>
  </div>
  <!-- end footer section -->