html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

  background-size: cover;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: 9999; /* keep fireworks on top */
  pointer-events: none;
}