<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3>What We Do?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="images/1.jpg" alt="Los Angeles">
        </div>
      </div>
      <div class="row pt-5">
       
        <div class="col-md-6 col-lg-6">
            <img src="images/1.jpg" alt="Los Angeles">
        </div>
        <div class="col-md-6 col-lg-6">
            <h3>Why Choose Us</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-6 col-lg-6">
            <h3>What are some contests to win prizes online?</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="images/1.jpg" alt="Los Angeles">
        </div>
      </div>
</div>