<div class="container">
    <h3 class="text-center my-4">Cookie Policy</h3>

    <p>
        <strong>What are cookies?</strong>
    </p>
    <p>Cookies are small files stored on a user's computer that hold data relating to a specific website. They are
        placed on the user's computer by that website and accessed each time a user browses it. The cookies used by NPN
        IT Services Private Limited(NPNITS) are harmless. </p>

    <p><strong>When and why does NPNITS place cookies? </strong></p>
    <p>
        NPNITS places cookies on any browser that visits its sites. They are primarily used to collect data in order to
        help improve our website, by seeing which parts of the site are being used, how users are navigating to each
        page and what items they prefer to click on. This policy is set out so you can know which cookies NPNITS uses
        and why; as well as giving you the option to opt-out of us using them on your computer if you wish.
    </p>

    <p><strong>What cookies does NPNITS use?</strong></p>
    <p>
        <strong>Necessary cookies –</strong> these help make a website usable by enabling basic functions, such as page navigation and
        access to secure areas of the site. The website cannot function properly without them.
    </p>
    <p><strong>Performance cookies –</strong> like most websites, NPNITS uses analytics software, such as Google Analytics. This software
        gathers anonymous data relating to how its site is being used and then provides aggregated visitor statistics,
        number of page views etc. NPNITS supplements this data with its own analytics, which allows more in-depth
        analysis of how people use its site. This information is vital as it helps to make the site as easy to use and
        as effective as possible. </p>
    <p>NPNITS regularly adds new features and changes existing ones to improve the site, and optimise the user
        experience for all parties. To ensure the changes are useful, variants of these changes across the site,
        reviewing data from the analytics system to see what works best. </p>
    <p>
        <strong>DoubleClick cookies –</strong> NPNITS may also use cookies for ad serving through Google's DoubleClick ad server, which
        places a cookie on your computer when you are browsing the web and you visit a site using DoubleClick
        advertising (including some Google AdSense advertisements). This cookie is used to serve ads specific to you and
        your interests (‘interest based targeting’). The ads served will be targeted based on your previous browsing
        history. This cookie uses ‘non-personally identifiable information’ – it does not track any personal information
        about you whatsoever. You can opt-out of this ad serving on all sites using this form of advertising by visiting
    </p>

    <a href="http://www.doubleclick.com/privacy/dart_adserving.aspx.">http://www.doubleclick.com/privacy/dart_adserving.aspx.
    </a>
    <br /><br />
    <p><strong>Third party cookies –</strong> in addition to the cookies listed above, third parties may also set cookies when you visit
        the site. In some cases, that is because NPNITS has hired a third party to provide services on its behalf, such
        as the enquiry form. Because your browser connects to those third parties’, they are able to set or read their
        own cookies on your device and may collect information about your online activities (but not any personally
        identifiable data). To control cookies from these third parties, please visit their respective sites.
        Controlling cookies – NPNITS will make every effort to recognise and respect your choices; however there is a
        small chance that not all cookies and similar methods of data capture will be covered by these settings. If this
        is a concern to you then we recommend that you change the settings in your browser. The ‘help’ function within
        your browser should tell you how.
    </p>
    <a href="https://support.google.com/chrome/answer/95647?hl=en"> Chrome</a><br />
    <a
        href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=arisable-cookies-website-preferences&redirectlocale=en">Firefox</a><br />
    <a
        href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences&redirectlocale=arisable-cookies-website-preferences&redirectlocale=en ">Internet
        Explorer</a><br />
    <a href="https://www.apple.com/legal/privacy/en-ww/cookies/">Safari</a><br />
    <a
        href="https://support.microsoft.com/en-us/microsoft-edge/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd">Microsoft
        Edge</a><br />
    <a href="https://help.opera.com/en/latest/">Opera</a><br /><br />
    <p><strong>How are cookies used for advertising purposes?
        </strong></p>
    <p>Cookies and other ad technology such as beacons, pixels, and tags help NPNITS serve relevant ads to you more
        effectively. They also help the Company provide aggregated auditing, research, and reporting for advertisers,
        understand and improve its service, and know when content has been shown to you. Note: because your web browser
        may request advertisements and beacons directly from third party ad network servers, these networks can view,
        edit, or set third party cookies, just as if you had requested a web page from their site. Ads served by NPNITS
        may also set third party cookies.
    </p>
    <p><strong>Local storage</strong></p>
    <p>In addition to cookies, local storage allows NPNITS to use a tiny bit of space on your machine to store
        information, in much the same way as cookies. This is used to store information which, we feel, enhances your
        journey through the site, by remembering previous actions and making them default for the future. All local
        storage is persistent, with no expiry.</p>
    <p><strong>Email and SMS targeting
        </strong></p>
    <p>NPNITS may also use your information (email or phone number) to contact you about its projects and services that
        we think may be of interest to you. If you do not want us to use your information in this way, please contact us
        at support&#64;npnits.com.</p>
    <p><strong>AdWords retargeting</strong></p>
    <p>Targeting or advertising cookies collect anonymous information about your browsing habits, which are then used to
        make advertising more relevant to you. They remember if you have visited a website and share this information
        with advertisers. No personally identifiable information is exchanged. NPNITS uses the Google AdWords
        remarketing service to advertise to previous visitors of NPNITS on third party websites. This is normally in the
        form of an advertisement on a website in the Google Search Network. Third-party vendors, including Google, use
        cookies to serve ads based on someone’s past visits to NPNITS’s websites. Google does not collect or store
        personal information. You may opt-out of Adwords Remarketing use of cookies by visiting the AdWords Remarketing
        opt-out page.
    </p>
    <p>We may amend our Cookie Policy from time to time to keep it up to date with legal requirements and the way we
        operate our platforms. If we decide to change our Cookie Policy, we will place any updates on our platforms,
        such as this webpage. Please regularly check this webpage and the Cookie Policy of any relevant Platforms for
        the latest version of our Cookie Policy.
    </p>
    <p>If you have any questions about this Cookie Policy, the practices of this site, or your dealings with this
        website, please contact us at support&#64;npnits.com or: PO Box 531055, Hyderabad, India.</p>
    <p>You can at any time change or withdraw your consent here: please contact us at support&#64;npnits.com.</p>
</div>