.wrapper {

  /* margin: 4% auto; */
  padding: 2em;
  color: #000;
  /* background: #9eb8d2; */
  max-width: 800px;
  margin: 0 auto;
}

.wrapper .container {
  position: relative;
  width: auto;
  max-width: max-content;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.cell-container {
  max-width: 450px;
  margin: 0 auto;
}

/* .brand-img {
  max-width: 100px;
  margin: 0 auto;
  padding-bottom: 10px;
} */

.game-img {
  max-width: 150px;
  margin: 0 auto;

}

.game-img img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  min-width: 200px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#tries-counter {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Fixed to 4 cells per row */
  grid-gap: 5px;
  max-width: 100%;
  margin: 0px auto;
}

.grid-cell {
  /* width: 60px;
  height: 60px; */
  /* margin: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* border: 2px solid #ccc; */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  background-color: white;
}
.grid-cell img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.emoji {
  display: inline-block;
  transform: scale(1);
}

.reveal-emoji .emoji {
  animation: popEmoji 0.5s ease-in-out;
}
.game-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: baseline;
  /* background: #ffff;
  border-radius: 8px 8px 0 0; */
}


@keyframes popEmoji {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  50% {
    transform: scale(1.4);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 767px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
  }

  .cell-container {
    max-width: 350px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    font-size: 12px;
    width: 100%;
  }

}