.dropdown-item
{
    padding-top: 0;
    padding-bottom:0 ;
    cursor: pointer;
}
.dropdown-item:active, .dropdown-item:hover
{
    background-color: #475978;
    color: #fff !important;
}
.dropdown-menu
{
    min-width: 7rem;
    bottom: 70%;
}
.custom_nav-container
{
    padding-right: 0;
}
.logout-icon
{
    padding-top: .6rem;
    cursor: pointer;
}
.btn-welcome, .btn-welcome:hover, .btn-welcome:focus
{
        color: #212529;
        background-color: #ecf0f1;
        border-color: #ecf0f1;
        font-size: 14px;
}
.mobile-logo-pan
{
    /* position: fixed; */
    /* background: #ECF0F1; */
    width: 100%;
    text-align: center;
    /* margin-bottom: 20px; */
    box-shadow:0px 0 18px rgba(0, 0, 0, 0.2);
}
.yes-btn
{
    background-color: #1ABC9C !important;
    border-color: #1ABC9C !important;
    min-width: 70px;
}
@media (max-width: 992px)
{
    .custom_nav-container .navbar-nav {
           justify-content: space-evenly;
    }
    .header_section {
        position: fixed;
        bottom: 0;
        background: #fff;
        width: 100%;
        box-shadow: 0px 9px 27px #ccc;
        z-index: 999;
    }
    .menu-name
    {
        display: block;
    }
    .custom_nav-container .navbar-nav .nav-item .nav-link
    {
        padding: 10px;
    }
    .navbar-brand.brand_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .navbar-brand img
    {
        width: 130px;
        padding: 3px;
        margin: auto;
    }
}
